!!!
%html
  %head
  %title= @page_title || APP_CONFIG[:site_name]

  %meta{ 'http-equiv' => "Content-Type",     :content => "text/html; charset=utf-8" }
  %meta{ 'http-equiv' => "Content-Language", :content => "es-mx" }

  = stylesheet_link_tag 'blueprint-screen'
  /[if IE]
    = stylesheet_link_tag 'blueprint-ie'

  = stylesheet_link_tag 'moneyrumble'
  = stylesheet_link_tag 'boxy'
  = stylesheet_link_tag 'grid'

  = javascript_include_tag :defaults, 'jquery.dimensions.js', 'jquery.boxy.js', 'jqModal.js', 'grid.locale-en.js', 'grid.pack.js', 'jquery.corners.js'

  %body
    %h1= APP_CONFIG[:site_name]

    - if logged_in?
      #logout= link_to 'close', logout_path

    #sidebar
      %h2 at a glance
      = link_to 'New account', '#dlg_new_account', :class => 'button boxy', :id => 'btn_new_account'
      #account_list= partial 'accounts/at_a_glance'

    #container
      #sections
        %ul{ :class => @current_section }
          %li.register= link_to 'Register', root_path
          %li.accounts= link_to 'Accounts', accounts_path
          %li.contacts= link_to 'Contacts', 'contacts_path'

      #content-wrapper
        #content
          = yield