#account-register
  %h2= @account.full_name

  #register-wrapper
    %table#register.scroll

  #new-transaction
    %ul
      %li.ui-tabs-disabled &nbsp; New &raquo;&nbsp;
      %li= link_to '<span>Payment</span>', '#payment'
      %li= link_to '<span>Deposit</span>', '#deposit'
      - tab_class = @accounts_for_transfer.size > 0 ? '' : 'ui-tabs-disabled'
      %li{ :class => tab_class }= link_to '<span>Transfer</span>', '#transfer'

    #payment
      - remote_form_for [@account, @account.payments.new] do |f|
        = partial 'transactions/payment_form', :f => f
        
    #deposit
      - remote_form_for [@account, @account.deposits.new] do |f|
        = partial 'transactions/deposit_form', :f => f

    #transfer
      - if @accounts_for_transfer
        - remote_form_for [@account, @account.transactions.new] do |f|
          = partial 'transactions/transfer_form', :f => f

%script{ :type => 'text/javascript' }
  == var grid_url = '#{formatted_account_transactions_path(:account_id => @account.id, :format => 'xml')}';
  == var grid_detail_url = '#{formatted_account_transactions_path(:account_id => @account.id, :format => 'xml', :detail => true)}';
  == var cell_edit_url = "#{url_for(:controller => 'transactions', :action => 'update_attr', :account_id => @account.id)}";
  == var current_account = '#{@account.id}';
  == $("#payment_other_party_id").autocomplete("auto_complete_for_contact_name");
  == $("#deposit_other_party_id").autocomplete("auto_complete_for_contact_name");

= javascript_include_tag 'register.js'