<p>
  <b>Owner:</b>
  <%=h @account.owner_id %>
</p>

<p>
  <b>Parent:</b>
  <%=h @account.parent_id %>
</p>

<p>
  <b>Balance:</b>
  <%=h @account.balance %>
</p>

<p>
  <b>Global balance:</b>
  <%=h @account.global_balance %>
</p>

<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
